
h1
{
	
	background-color: blue;
	font-family: 'Lora',serif;
	text-decoration-color: blue;
	font-size: 1.7em;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px #222;
	margin-top: 20px;
	margin-bottom: 100px;
	padding: 15px 30px 15px 15px;
	line-height: .75;
	text-align: center;
	border: 5px solid black;


}
#frt
{
	padding: 15px 15px 15px 15px;
	height: 30px;
}
#clr
{
	clear: left;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:206px;
  height: 206px;
} 
#head1
{
  text-align: center;
  padding:  10px 10px 10px 10px;
  font-weight: bold;
  font-size: 35px;
  background-color:#ADD8E6;
  color: black;
 
}

#head2,#head3,#head4,#head5
{
	margin-left: 43%;

}
#pls,#head2
{
	font-family: oxygen;
	font-weight: bold;
	
}
.col1 {
		position: relative;
		background-color: #ADD8E6;
		margin: 20px;
		width: 40%;
		height: 40%;
		float: left;
		padding: 15px 15px 15px 15px;
		box-sizing: border-box;
		color: black;



	}
	.col2 {
		position: relative;
		background-color: #ADD8E6;
		margin: 20px;
		width: 40%;
		height: 40%;
		float: right;
		padding: 15px 15px 15px 15px;
		box-sizing: border-box;
		color: black;

	}
#name
{
font-size: 20px;
font-weight: bold;

}

}
#pls
{
	font-family: oxygen;
	font-weight: bold;


}
#tc
{
	padding:15px 15px 15px 15px; 
}
.fa {
  padding: 8px;
  font-size: 25px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 3px 3px;
  border-radius: 20%;
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.row:after {
content: "";
display: table;
clear: both;
}
