h1
{
	position: relative;
	margin-top:  50px;
	padding: 10px 10px 10px 10px;
	text-align: center;
	font-style: bold;
	background-color:#800080;
}
#cap{
text-align: center;
color: red;
font-size: 35px;
}

table,th,td{
height: 20%;
width: 30%;
padding: 15px;
border-collapse: collapse;
text-align: center;
border-color: red;
background-color:#ffff00;
color:  #61122f;
}
.center{
	margin-left: auto;
	margin-right: auto;
}

div{
background-color: #61122f;
}
@media(max-width: 500px)
{_
.table{
    padding-top: 20px;
    height: 50px;
  }

}